name: Pre-release

on:
  workflow_call:

jobs:
  pre-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: Download Windows Installer
        uses: actions/download-artifact@v4
        with:
          name: windows-installer
          path: artifacts/windows-installer
      - name: Download Android APK
        uses: actions/download-artifact@v4
        with:
          name: android-apk
          path: artifacts/android-apk
      - name: Download version artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts/version-info
          name: version-info-windows
      - name: Download version artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts/version-info
          name: version-info-android
      - name: Read version
        id: version
        run: |
          VERSION=$(find artifacts/version-info -type f -name "*.txt" | head -n 1 | xargs cat)
          echo "full_version=$VERSION" >> $GITHUB_OUTPUT
      - name: Create Pre-release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ steps.version.outputs.full_version }}
          name: Pre-release ${{ steps.version.outputs.full_version }}
          body: |
            Automated pre-release for the ${{ github.ref_name }} branch. [Commit: ${{ github.sha }}]
            Version: ${{ steps.version.outputs.full_version }}
          prerelease: true
          files: |
            artifacts/windows-installer/*.exe
            artifacts/android-apk/*.apk
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Update latest tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git tag -f ${{ github.ref_name }}-latest
          git push -f origin ${{ github.ref_name }}-latest
