name: Release

on:
  workflow_call:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
      - name: Get version from tag
        id: version
        run: |
          VERSION=${{ github.ref_name }}
          VERSION=${VERSION#v}
          echo "tag_version=$VERSION" >> $GITHUB_OUTPUT
      - name: Generate Changelog
        run: dart scripts/hermes.dart log

      - name: Generate Bill of Materials (BOM)
        working-directory: Notes-Hub/build/app/outputs/flutter-apk
        run: dart ../../../../../scripts/hermes.dart bom .

      - name: Verify Artifact Integrity
        working-directory: Notes-Hub/build/app/outputs/flutter-apk
        run: dart ../../../../../scripts/hermes.dart verify bom.json .

      - name: Create Release and Upload Assets
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          generate_release_notes: true
          files: |
            artifacts/windows-installer/UniversalNotesSetup-${{ steps.version.outputs.tag_version }}.exe
            artifacts/android-apk/universal_notes-v${{ steps.version.outputs.tag_version }}.apk
            bom.json
            changelog.md
